<div class="row"> 
  <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <!-- [routerLink]= "['/events', event.id]" -->
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%"> 
  </div>
</div>