<!-- Header -->
<!--   -->

<!-- Restaturent Grid -->
<div class="row"> 
  <!-- <div class="column">
    <img [routerLink]= "['ncr', category.name]" src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div> -->
  
  
  <div class="column" *ngFor="let category of categories">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div>  
  <!-- <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%">
    <img src="/assets/images/img.jpg" style="width:100%"> 
  </div> -->
</div>